<div class="hero-section">
  <div class="hero-section-text">
    <h1>Spice It Up</h1>
    <h4>The best food from Iceland, Kyrgyzstan, Italy, South Africa and Sweden.</h4>
  </div>
</div>
<div id="menu" align="center">
  <h2>Our Menu</h2>
  <% if @cost %>
    <p>Total cost of order is: <%= @cost %></p>
  <% end %>
  <% if @dishes_by_category.any? %>
    <% @dishes_by_category.each do |key, category| %>
      <h2> <%= key %> </h2>
      <% category.each do |dish| %>
        <div id="<%= "dish_#{dish.id}" %>">
          <form action="<%= "/order/add/#{dish.id}" %>" method="post">
            <h3> <%= dish.name %> </h3>
            <p> <%= dish.description %> </p>
            <p> Price: <%= dish.price %> kr </p>
            <input type="text" name="quantity" value="1">
            <% if @order && @order.order_include?(dish) %>
              <div class="button">
                <a href="<%= "/order/remove/#{dish.id}" %>">Remove</a>
              </div>
            <% end %>
            <input type="submit" value="Add" class="button">
          </form>
        </div>
      <% end %>
    <% end %>
  <% else %>
    <p>There are no dishes in the system!</p>
  <% end %>
  <div class="button">
    <a href="<%= "/order/clear" %>">Cancel Order</a>
  </div>
</body>
</html>
