<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="<%= url("/css/foundation.css")%>">
  <link rel="stylesheet" type="text/css" href="<%= url("/css/app.css")%>">
  <script src="<%= url("/js/vendor/jquery.js")%>"></script>
  <script src="<%= url("/js/vendor/foundation.js")%>"></script>
  <script src="<%= url("/js/app.js")%>"></script>
  <title>Spice It Up</title>
  <link rel="icon" href="favicon.ico" type="image/x-icon">
</head>
<body>


<p>

  <% if current_user %>
    Logged in as <%= current_user.username %>
    <a href="/auth/logout">Log Out</a></p>
  <% else %>
    <a href="/auth/create">Register</a>

    <a href="/auth/login">Log In</a>
  <% end %>

  <% if flash[:success] %>
    <div style="color:green;">
      <%= flash[:success] %>
    </div>
  <% end %>

  <% if flash[:error] %>
    <div style="color:red;">
      <%= flash[:error] %>
    </div>
  <% end %>

  <%= yield %>
  </body>
</html>
